.GtRExplorer {
    width: 450px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.GtRExplorer .sideStrip {
    width: 40px;
    background: #006DCC;
    height: 100%;
    float: left;
}

.GtRExplorer .display {
    padding: 0 10px;
    margin-left: 50px;
}

.GtRExplorer .heading {
    padding: 10px 0;
    text-align: right;
}

.GtRExplorer .graph {}

.GtRExplorer h1 {
    font-size: 12px;
    line-height: 13px;
}

.node {
    stroke: #00000;
    stroke-width: 1.5px;
}

.node:hover {
    cursor: pointer;
}

.node-org {
    fill: #000fff
}

.node-pers {
    fill: #ff0000
}

.node-proj {
  fill: #00ff00
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}


.link-pers-org {
}

