.GtRExplorer {
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background: white;
}

.node {
    stroke: #00000;
    stroke-width: 1.5px;
}

.node-org {
    fill: #000fff
}

.node-pers {
    fill: #ff0000
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}


.link-pers-org {
}

